.offer
    background: url('../img/offer_bg.png') no-repeat
    background-position: center right
    background-size: contain
    position: relative
    &::before
        content: ''
        height: 100%
        width: 50%
        position: absolute
        top: 0
        left: 0
        background-color: #ffffff
    &-block
        width: 50%
        padding-right: 90px
        position: relative
    &__title
        width: 360px
        line-height: 35px
        margin-bottom: 24px
        font-family: "Museo Sans Cyrl 700"
    &__subtitle
        display: block
        max-width: 250px
        margin-bottom: 30px
        font-family: "Museo Sans Cyrl 300"
    &__input
        margin-bottom: 30px
        width: 240px
        &:first-child
            margin-right: 10px
    &__button
        width: 100%
        min-height: 70px
        font-family: "Museo Sans Cyrl 700"
    &-contacts
        display: flex
        flex-direction: row
        margin-top: 33px 
        &__text
            font-family: "Museo Sans Cyrl 300"
            font-size: 15px
            line-height: 24px
            margin-right: 70px
        &__phone
            font-family: "Museo Sans Cyrl 300"
            font-size: 15px
            line-height: 24px
    &-phone
        text-decoration: none
        font-family: "Museo Sans Cyrl 700"
        color: #333333

@media (max-width: 1200px)
    .offer
        background-size: cover
        &__input
            width: 100%
            margin-bottom: 10px
        &__button
            font-size: 13px
        &-contacts
            &__text
                margin-right: 10px
        
        
@media (max-width: 768px)
    .offer
        background: #fff
        &-block
            width: 100%
            padding-right: 0
        &__title
            font-size: 18px
            width: 259px
            line-height: 1.2  
            font-family: "Museo Sans Cyrl 700"  
        &-contacts 
            display: flex
            flex-direction: column    
            &__text
                margin-right: 10px
                margin-bottom: 18px
           
        
            
            
            
        