.portfolio
    background: #f5f5f5 url('../img/fon_1.jpg') repeat-y center left
    background-size: 50%
    padding-top: 85px
    &__title
        display: flex
        margin: auto
        margin-bottom: 99px
        font-size: 30px
        line-height: 45px
        font-family: "Museo Sans Cyrl 700"
    &__arrows
        width: 120px
        margin: auto
        margin-top: 68px
        display: flex
        justify-content: space-between
.slider
    border: 0
    &__image:last-child
        margin: auto
        &:last-child
            padding-right: 0
    

@media (max-width: 1200px)
    .portfolio
         &__title
             margin-bottom: 41px
    .section
        padding: 43px 0 64px 0
        
    



   