.portfolio
    background: #f5f5f5 url('../img/fon_1.jpg') repeat-y center left
    background-size: 50%
    &__title
        max-width: 800px
        display: flex
        margin: auto
        margin-bottom: 99px
        font-size: 30px
        line-height: 45px
        font-family: "Museo Sans Cyrl 700"
    &__arrows
        width: 120px
        margin: auto
        margin-top: 68px
        display: flex
        justify-content: space-between
.slider
    &__image
        margin: auto