* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl 300';
}

img {
  max-width: 100%;
}

.container {
  width: 1171px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  width: 170px;
  height: 49px;
  font-size: 16px;
  font-family: "Museo Sans Cyrl 700";
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.section {
  padding: 100px 0;
}

.section-title {
  max-width: 800px;
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 700';
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #f5f5f5;
  padding: 26px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.invalid {
  border: 1px solid red;
}

.invalid:hover {
  border-color: none;
}

#username-error, #phone-error, #email-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 0;
  bottom: 10px;
}

@media (max-width: 768px) {
  #username-error, #phone-error, #email-error {
    bottom: 7px;
  }
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Museo Sans Cyrl 300';
  font-size: 13px;
  padding-bottom: 4px;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Cyrl 700';
  font-size: 13px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 700';
}

@media (max-width: 760px) {
  .navbar {
    padding-bottom: 21px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    border-radius: 5px;
    font-size: 12px;
    padding: 12px 20px;
    font-family: "Museo Sans Cyrl 700";
    font-size: 10px;
    margin-right: 10px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 52px 0;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 50px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 35px;
  font-family: 'Museo Sans Cyrl 700';
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 65px;
  font-family: 'Museo Sans Cyrl 700';
}

.hero__image {
  position: relative;
  left: 70px;
  width: 577px;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  line-height: 24px;
}

.hero-list__image {
  min-width: 40px;
  min-height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 250px;
  font-size: 14px;
  font-family: "Museo Sans Cyrl 300";
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero__image {
    left: 0;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-block {
    padding: 32px 0 40px 5px;
  }
  .hero-text {
    width: 300px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 6px;
    margin-top: 0;
    width: 100%;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    width: 200px;
  }
  .hero-list__item {
    margin-bottom: 15px;
  }
  .hero-list__text {
    font-size: 13px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero__image {
    max-width: 270px;
    height: 231px;
    top: -10px;
  }
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.offer {
  background: url("../img/offer_bg.png") no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
  padding-bottom: 93px;
  padding-top: 89px;
}

.offer__title {
  width: 360px;
  line-height: 35px;
  font-family: "Museo Sans Cyrl 700";
  margin-top: 0;
  text-align: left;
}

.offer__subtitle {
  display: block;
  max-width: 250px;
  margin-bottom: 30px;
  font-family: "Museo Sans Cyrl 300";
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:hover {
  border-color: #ffd200;
}

.offer__input:focus {
  outline: none;
  border-color: #ffd200;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  font-family: "Museo Sans Cyrl 700";
}

.offer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
}

.offer-contacts__text {
  font-family: "Museo Sans Cyrl 300";
  font-size: 15px;
  line-height: 24px;
  margin-right: 70px;
}

.offer-contacts__phone {
  font-family: "Museo Sans Cyrl 300";
  font-size: 15px;
  line-height: 24px;
}

.offer-phone {
  text-decoration: none;
  font-family: "Museo Sans Cyrl 700";
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
  }
  .offer-contacts__text {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer__form {
    width: 275px;
  }
  .offer-block {
    padding-top: 50px;
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .offer__title {
    font-size: 18px;
    width: 260px;
    line-height: 1.2;
    font-family: "Museo Sans Cyrl 700";
    margin-bottom: 18px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .offer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    margin-left: 7px;
  }
  .offer-contacts__text {
    margin-right: 10px;
    margin-bottom: 7px;
  }
  .offer__button {
    padding: 0 60px 0 64px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/fon_1.jpg") repeat-y center left;
  background-size: 50%;
  padding-top: 85px;
}

.portfolio__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 99px;
  font-size: 30px;
  line-height: 45px;
  font-family: "Museo Sans Cyrl 700";
}

.portfolio__arrows {
  width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .portfolio__title {
    margin-bottom: 41px;
  }
  .section {
    padding: 43px 0 64px 0;
  }
}

@media (max-width: 768px) {
  .portfolio__title {
    font-size: 18px;
    line-height: 23px;
    max-width: 290px;
  }
  .portfolio__arrows {
    margin-top: 40px;
  }
  .section {
    padding: 40px 0 64px 0;
  }
  .slider__image {
    max-width: 246px;
    max-height: 186px;
    margin-left: auto;
    margin-right: auto;
  }
}

.price {
  padding-top: 82px;
}

.price__title {
  margin: auto;
  margin-bottom: 51px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
  height: 410px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding-top: 10px;
  padding-bottom: 39px;
}

.card__title {
  margin-top: 0;
  font-family: "Museo Sans Cyrl 300";
  font-size: 18px;
  line-height: 45px;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 700';
  font-size: 16px;
  color: #333333;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  button: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 271px;
    height: 300px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .card__text {
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .price {
    padding-top: 47px;
    padding-bottom: 20px;
  }
  .price__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .price__subtitle {
    font-size: 14px;
    line-height: 45px;
    font-family: "Museo Sans Cyrl 300";
    margin-bottom: 50px;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
  padding-top: 0;
}

.step:after {
  content: '';
  width: 75px;
  height: 25px;
  position: absolute;
  background: url("../img/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  line-height: 20px;
  max-width: 160px;
  margin: auto;
}

.steps {
  padding-top: 0;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
  margin-top: 30px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .steps {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .steps__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 18px;
    line-height: 1.2;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .steps__subtitle {
    font-family: "Museo Sans Cyrl 300";
    font-size: 14px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .step {
    padding-bottom: 0;
    margin-bottom: 32px;
  }
  .step__text {
    font-family: "Museo Sans Cyrl 300";
    font-size: 12px;
    line-height: 16px;
  }
  .step__image {
    margin-bottom: 22px;
  }
}

.brif {
  background-image: url("../img/interview.jpg"), url("../img/form.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding-top: 98px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 213px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
  height: 65px;
}

.brif__input:hover {
  border-color: #ffd200;
}

.brif__input:focus {
  outline: none;
  border-color: #ffd200;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 10px;
}

.interview {
  padding-right: 71px;
}

.interview__title {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 30px;
  margin-top: 0;
  font-family: "Museo Sans Cyrl 700";
}

.interview__subtitle {
  display: block;
  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 80px;
  margin-top: 0;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.interview-list__counter {
  display: inline-block;
  min-width: 35px;
  min-height: 35px;
  margin-right: 32px;
  border: 2px solid #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-family: "Museo Sans Cyrl 700";
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  font-family: "Museo Sans Cyrl 700";
  font-size: 18px;
}

.form__title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 35px;
  margin-top: 0;
}

.form__subtitle {
  display: block;
  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 40px;
}

.form__description {
  display: block;
  margin-top: 30px;
  ont-family: "Museo Sans Cyrl 300";
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
    margin-left: 0;
  }
  .brif__input {
    margin-bottom: 20px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
    min-width: 35px;
    min-height: 35px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/interview.jpg"), url("../img/form.jpg");
    background-position: top center, center;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
    padding-top: 43px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 60px;
  }
  .brif__input {
    margin-bottom: 15px;
  }
  .interview__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 18px;
    line-height: 22px;
  }
  .interview__subtitle {
    font-family: "Museo Sans Cyrl 300";
    font-size: 14px;
    display: block;
  }
  .interview-list__text {
    font-size: 14px;
  }
  .interview-list__counter {
    margin-right: 20px;
    min-width: 35px;
    min-height: 35px;
  }
  .form {
    padding-left: 0;
  }
  .form__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 18px;
    line-height: 25.35px;
  }
  .form__subtitle {
    font-family: "Museo Sans Cyrl 300";
    font-size: 14px;
  }
}

.aboutoneself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 280px;
  background-color: #ffd200;
  padding: 90px 0 100px 0;
}

.aboutoneself-header {
  display: block;
}

.aboutoneself-header__header {
  font-family: "Museo Sans Cyrl 300";
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .aboutoneself {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 231px;
  }
  .aboutoneself-header__header {
    font-family: "Museo Sans Cyrl 300";
    font-size: 18px;
    line-height: 25px;
  }
}

.info-BOX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-box {
  background-color: #f7f7f7;
  margin: 0 15px 0 15px;
}

.info-box__image {
  width: 100%;
  height: 265px;
}

.info-box1 {
  display: block;
  max-width: 370px;
  height: 145px;
  background-color: #f7f7f7;
}

.info-box1__title {
  display: block;
  padding: 27px 55px 63px 26px;
  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  line-height: 23px;
}

@media (max-width: 1200px) {
  .info-BOX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .info {
    padding-top: 59px;
    padding-bottom: 35px;
  }
  .info-box {
    max-width: 270px;
  }
  .info-box__image {
    height: 191px;
  }
  .info-box1 {
    height: 110px;
  }
  .info-box1__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.83px;
    padding: 15px 40px 33px 19px;
  }
}

.sreen {
  padding-top: 0;
  padding-bottom: 210px;
}

.sreen-title {
  max-width: 650px;
  margin: auto;
  text-align: center;
  padding-bottom: 80px;
}

.sreen-title__title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 30px;
  line-height: 45px;
  margin: auto;
}

.sreen-BOX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.sreen-BOX__box:not(:last-child) {
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sreen-BOX__subtitle {
  text-align: center;
  padding-top: 30px;
  font-family: "Museo Sans Cyrl 300";
  font-size: 18px;
  line-height: 24px;
  width: 290px;
  margin-top: 0;
}

.sreen-BOX__image {
  border: 20px solid #f5f5f5;
  text-align: center;
  padding-top: 7px;
  width: 270px;
  height: 360px;
}

.image {
  max-width: 220px;
}

@media (max-width: 1200px) {
  .sreen-BOX__box:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 940px) {
  .sreen-BOX {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .sreen {
    padding-bottom: 50px;
  }
  .sreen-title {
    padding-bottom: 49px;
  }
  .sreen-title__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 18px;
    line-height: 1.3;
    width: 220px;
  }
  .sreen-BOX__subtitle {
    font-family: "Museo Sans Cyrl 300";
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 28px;
  }
}
/*# sourceMappingURL=style.css.map */